header,.section-utilisateur{
    font-size: 16px;
    font-weight: 600;
}
.utilisateur{
     background-color: gainsboro;
}



.section-utilisateur ul li a{
    text-decoration: none;
    color: #093545;
}
.section-utilisateur ul li:hover{
    background-color: #093545;
    border-left: 4px solid rgb(0, 224, 149);
    transition: 0.5s ease-in;
    width: 100%;
    padding: 3%;
}
.section-utilisateur ul li a:hover{
    color: aliceblue;
}
.section-utilisateur input{
    border: 1px solid;
    height: 25px;
}

.section-utilisateur button{
   background-color: #093545;
   color: aliceblue;
}
